*{
    padding: 0;
    margin: 0;
}



     
body{
    font-family: sans-serif;
    
}

.Início{
    left: 700px;
    bottom: 1760px;
    top: 60px;
}

.Cardápio{
    left: 790px;
    bottom: 1760px;
    top: 60px;
}

.Contatos{
    left: 900px;
    bottom: 1760px;
    top: 60px;
}

.Pedidos{
    left: 1000px;
    bottom: 1760px;
    top: 60px;
}

.imagem{
   
    background-color:black;
    right: 900px;
    bottom: 1620px;
}

h1{
    color: red;
    font-size: 50px;
    top: 50px;
    left: 175px;
    bottom: 1760px;
}
 
.menu{
    background-color: black;  
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.submenu{
     display: flex;
     margin-right: 25px;
     justify-content: space-between;
     gap: 25px;
     font-size: 25px;
     color: red;

}

.logo{
    display: flex;
    align-items: center;

}

p:hover{
    cursor: pointer;
    opacity: 0.3;
   

}